*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://4kwallpapers.com/images/wallpapers/earth-space-stars-green-solaris-water-sea-3840x2160-2051.jpg");
    background-color: #1e2635;
}

.navbar {
    width: 100%;
    min-height: 50px;
    background-color: #1e2635;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    z-index: 101;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);
}

.hero {
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.wrapper_folder {
    margin:20px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: #f0f2f5;
    min-height: 140px;
    background-color: #363c46;
}

.folder {
    background-color: #1e2635;
    position: absolute;
    width: 30%;
    min-height: 100%;
    top: 70px;
    left: 0;
}

.close {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    margin: 20px;
}

.hide_folder {
    display: none;
}

.name {
    margin-left: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #eff5ff;
}

.menu-ul {
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
}

.menu-li {
    margin-left: 10px;
    margin-right: 20px;
    color:#eff5ff;
}

.global-folder {
    background-image: url('https://4kwallpapers.com/images/wallpapers/earth-space-stars-green-solaris-water-sea-3840x2160-2051.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.problem-folder {
    background-image: url('https://www.imf.org/-/media/Images/IMF/FANDD/hero/2022/September/Schar-DeFi-Promise-Pitfalls.ashx?h=1080&w=2656&la=ru');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.solution-folder {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/785/1010/374/puzzle-3d-glitter-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cover {
    background-color: #1e26358d;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.alert {
    background-color: #eff5ff;
    position: fixed;
    width: 500px;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    margin: auto;
    bottom: 0;
    padding: 10px;

    border-radius: 5px;
}
hr {
    margin: 15px 0px;
    border-radius: 2px;
    border: 1px solid #757575;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head-alert {
    margin-left: auto;
    margin-right: auto;
}

.close-alert {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

.alert-content {
    display: flex;
  align-items: center;
  justify-content: center;
}
.alert-text {
    text-align: center;
}

.ico {
    font-size: 44px;
}

.sidebar {
    width: 30%;
    float: left;
    min-height: 100vh;
    background-color: #1e2635c2;
    border-radius: 0px 0px 15px 0px;
}

.dashboard {
    display: contents;
    width:70%;
    margin-top: 70px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.list_cell, .list_folder {
    flex-basis: calc(33% - 40px);
    min-height: 150px;
    margin: 20px;
    list-style: none;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
    background-color: #8080809c;
    border-radius: 5px;
}

.err {
    border: #d52e2e 5px solid;
    border-radius: 2px;
    background: #eff5ff;
}
.success {
    border: #33a845 5px solid;
    border-radius: 2px;
    background: #eff5ff;
}

.list_folder {
    cursor: pointer;
    background-color: #214062;
}


.list_caption {
    width: calc(33% - 40px);
    margin: 0 20px;
    list-style: none;
    font-weight: bold;
    color: #ffecdd;
    display: inline;
  text-align: center;
}

.list_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Стандартный синтаксис */
    min-height: 150px;
}

.list_card-header {
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 20px;
    background-color: #214062;
    color: #ffecdd;
}

.list_card-body, .list_folder-header  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff5ff;
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.hovered {
    background-color: #153460d4;
}

.hide {
    display: none;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #1e2635;
}